<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>
        Contacto
    </title>
    <link rel="stylesheet" href="../estilos/sass/estilos.css">
</head>
    <body>
        <header id="logoMenu">
            <span><a class="logo" href="../index.html">MELANIE ZAYAT</a></span>
            <nav>
                <ul class="menu">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="sobremi.html">Sobre mí</a></li> 
                    <li><a href="servicios.html">Servicios</a></li> 
                    <li><a href="portfolio.html">Portfolio</a></li> 
                    <li><a href="contacto.html">Contacto</a></li> 
                </ul>
            </nav>
        </header>
        <section class="contactoFondo">   
        <div class="wrapper">
        <div class="title">
           
      
        </div>
      

        <form class="form">
          <input type="text" class="name entry " placeholder="Nombre"/>
          
          <input type="text" class="email entry" placeholder="Correo Electrónico"/>
          
          <textarea class="message entry" placeholder="Mensaje"></textarea> 
          
          <button class="submit entry" onclick="thanks()">Enviar</button>
        </form>  
        
        <div class="shadow"></div>
      </div>
      
    <script src="app.js"></script>
        </section>
        <footer>
            Melanie Zayat - Todos los derechos reservados / LINKEDIN / EMAIL / WHATSAPP
        </footer>
    </body>
</html>