<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>
                Servicios
        </title>
        <link rel="stylesheet" href="../estilos/sass/estilos.css">
    </head>  
    <body class="fondos">
        <header id="logoMenu">
           <span><a class="logo" href="index.html">MELANIE ZAYAT</a></span>
           <nav>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="sobremi.html">Sobre mí</a></li> 
                <li><a href="servicios.html">Servicios</a></li> 
                <li><a href="portfolio.html">Portfolio</a></li> 
                <li><a href="contacto.html">Contacto</a></li>  
            </ul>
        </nav>
        </header>
      <section>
          <h3 class="titulosImportantes">Servicios</h3>    
    <div id="servicios">    
     <div class="servicio1">
         <h2 class="titulosSecundarios">Diseño</h2>
         <P class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem totam tempora accusantium natus perspiciatis quis inventore, sed autem, quibusdam quidem consequatur in modi error ullam, asperiores animi illo fugiat voluptate!Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis assumenda unde eligendi expedita fugit. Impedit magnam, ex soluta beatae dignissimos repellat consectetur nisi, quod odit iusto aperiam praesentium consequuntur ducimus!
         </P>
     </div>   
     <div class="servicio2">
        <h2 class="titulosSecundarios">UX/UI</h2>
        <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi rerum eligendi molestias. Tempora, explicabo illo expedita officiis exercitationem saepe cum nostrum laudantium quidem! At dolore quo corrupti non rerum optio?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, animi, quam laborum, dicta maiores nemo optio in aperiam neque culpa molestiae. Consectetur velit iure doloribus molestiae et! Quasi, veniam iusto!
        </p>
    </div> 
    <div class="servicio3">
        <h2 class="titulosSecundarios">Traducción</h2>
        <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi rerum eligendi molestias. Tempora, explicabo illo expedita officiis exercitationem saepe cum nostrum laudantium quidem! At dolore quo corrupti non rerum optio?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, animi, quam laborum, dicta maiores nemo optio in aperiam neque culpa molestiae. Consectetur velit iure doloribus molestiae et! Quasi, veniam iusto!
        </p>
    </div> 
    </div>
</section> 
        <footer>
            Melanie Zayat - Todos los derechos reservados / LINKEDIN / EMAIL / WHATSAPP
        </footer>
    </body>
</html>