<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>
        Sobre Mí
    </title>
    <link rel="stylesheet" href="../estilos/sass/estilos.css">
</head>    
        <body class="fondo">
            <header id="logoMenu">
        <span><a class="logo" href="index.html">MELANIE ZAYAT</a></span>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="sobremi.html">Sobre mí</a></li> 
                <li><a href="servicios.html">Servicios</a></li> 
                <li><a href="portfolio.html">Portfolio</a></li> 
                <li><a href="contacto.html">Contacto</a></li> 
            </ul>
        </nav>
    </header>
    <h1 class="titulosImportantes">Sobre mí</h1>
    <section class="sobreMi">
        <img src="../imagenes/melanie-2.jpg" alt="Melanie-Zayat"> 
        <div id="descripcion">
            <p>
                Me presento, soy Melanie, pero todos me dicen Mel.
                Desde que tengo uso de la razón amo los idiomas. Todos. Los hablados, los escritos y los visuales. 
                No sabía si quería traducir o diseñar. Así que decidí hacer las dos. 
                Me encanta trabajar con clientes que me cuenten cómo son, entender su estilo e intepretarlo de la mejor forma.
                Amo viajar y del mundo aprendí que hay que volcarse a las pasiones de uno para poder ser feliz.
                Contáme de vos, ¿Qué te apasiona? ¿Qué proyecto necesitas convertir en una realidad?
            </p>
        </div> 
    </section>
        <div>
            <div class="contenedorBoton">
                <a class="boton" href="portfolio.html"> Visitá mi Portfolio
                </a>
            </div>
        </div>
        <footer>
            Melanie Zayat - Todos los derechos reservados / LINKEDIN / EMAIL / WHATSAPP
        </footer>
    </body>
</html>